command = /usr/local/bin/fish

theme = dark:Hipster Green, light:Hipster Green
#
# https://github.com/be5invis/Iosevka/
font-family = "Iosevka Term Curly"

font-family = "Martian Mono Cn Md"

font-size = 15
adjust-cell-height = 20%

shell-integration = fish
shell-integration-features = title

macos-titlebar-style = tabs
macos-option-as-alt = true

term = xterm-256color

window-height = 40
window-width = 132

window-padding-x = 5
window-padding-y = 2

# leader super+a

keybind = super+a>-=new_split:down
keybind = super+a>equal=new_split:right
keybind = super+a>z=toggle_split_zoom
keybind = super+a>h=resize_split:left,5
keybind = super+a>j=resize_split:down,5
keybind = super+a>k=resize_split:up,5
keybind = super+a>l=resize_split:right,5
keybind = super+a>up=goto_split:up
keybind = super+a>down=goto_split:down
keybind = super+a>left=goto_split:left
keybind = super+a>right=goto_split:right

keybind = super+w=unbind
keybind = ctrl+w=unbind
keybind = super+n=unbind
keybind = ctrl+n=unbind

copy-on-select = clipboard

# vim: ts=4 sw=4
